html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    font-size: 15px;

}

body {
    background: linear-gradient(223deg, #dd00ff2f, #001eff28);
    background: radial-gradient(circle at 100%, #dd00ff2f, #001eff28 50%, #eee 75%, rgba(2, 115, 167, 0.11) 75%);
    background-size: 600% 600%;
    opacity: 0.9;
    animation: gradient 16s ease infinite;
    
}

body::after {
    content: "";
    background: url("https://previews.123rf.com/images/breathofriver/breathofriver1908/breathofriver190800008/128229312-hexagon-seamless-pattern-hexagonal-grid-texture-honeycomb-background-vector-illustration.jpg");
    background-repeat: round;
    background-size: 10% 10%;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    animation: gradient 100s ease infinite;
    
  }

@keyframes gradient {
    0% {
      background-position: 93% 0%;
    }
  
    50% {
      background-position: 0% 100%;
    }
  
    100% {
      background-position: 93% 0%;
    }
}

@keyframes wave {
    50% {
    transform: rotate(180deg);
    }
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.main-title {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-out;
}

a:hover {
    transform: scale(1.1);
    color: rgba(0, 90, 94, 0.336);
}

fieldset {
    display: flex;
    flex-direction: row;
    margin-left: 30vw;
    margin-right: 10vw;
    width: 80%;
    justify-content: center;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}

fieldset:hover {
    transform: scale(1.1);
    border-color:rgba(0, 245, 253, 0.5);
    box-shadow: 2p 2px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    

}

.main-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5)
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.95;
    font-family: monospace;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
  }

  .projects {
      display: flex;
      justify-content: center;
      width: 50%;
  }

  .about {
      display: flex;
      justify-content: center;
  }

  #about-me {
      font-size: 2rem;
  }

  .socials-layout {
      display: grid;
      grid-template-columns: 10rem 10rem;
      justify-content: center;
      padding: 50px;
      line-height: 50px;
      color: black;
  }

  #projects-text {
      display: flex;
      justify-content: center;

  }

  .projects-grid {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 10rem 10rem;
    justify-content: center;
    color: black;
    text-align: center;
    width: 50%;
    margin-left: 25vw;
    margin-right: 25vw;
  }
.bordered-container {
    border: 2px solid rgba(172, 172, 172, 0.534);
    border-radius: 10px;
}

.bordered-container > p {
    font-size: 1rem;
}

  #project-1 {
      grid-row: 1;
      grid-column: 1;
      
  }
  #project-2 {
    grid-row: 1;
    grid-column: 2;
}
